.container {
    max-width: 1200px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0.25rem auto;
}

.padding {
    padding: 0.5rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 8px;
}

.header-container > * {
    padding: 1rem;
}

.calc-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    border: 1px solid black;
    border-radius: 8px;
}

.calc-container .card-container {
    border-radius: 8px;
    border: 1px solid black;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;

}

@media screen and (max-width: 640px) {
    .calc-container {
        grid-template-columns: 1fr;
    }
}